{% extends "base.html" %}
{% block content %}
<html>
	<head>
		<title>Add Record</title>
		<link rel="stylesheet" href="/static/css/bootstrap.css">
	</head>
	<body></br>
	<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
			</br>
			<div class="header">
				<h2 class="word" align="center">Yellow Pages</h2>
			</div>
			</br></br>
			<div class="header">
				<h3 class="word" align="center">Add Record</h3>
			</div>
				<form class="col-lg-6 offset-lg-3 " action="{{ url_for('addrecord') }}" method="post">
				<div class="msg">{{ msg }}</div>
					<div class="row justify-content-center">
						<input class="form-control" id="name" name="name" type="text" placeholder="Company Name" class="textbox"/></br></br>
						<input class="form-control" id="email" name="email" type="text" placeholder="Email ID" class="textbox"/></br></br>
						<input class="form-control" id="address" name="address" type="text" placeholder="Address" class="textbox"/></br></br>
						<input class="form-control" id="phone" name="phone" type="number" placeholder="Phone" class="textbox"/></br></br>
						<input class="form-control" id="website" name="website" type="text" placeholder="Website" class="textbox"/></br></br>

					<button type="submit" class="btn btn-primary">Add</button></br>
					</div></form>
	</div></div></div>
  </div></section>
	</body>
</html>
{% endblock %}
