{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery.js" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>Companies</title>
</head>
<body>
<div class="msg">{{ msg }}</div>
<div class="container">

    <div class="row pb-4">
    <div class="col-12">
        <input class="form-control mr-sm-2" type="search" placeholder="Search by phone number" aria-label="Search" id="searchbox">
    </div>
</div>

  <div class="row">
      <div class="card-group">
          {% for company in companies %}
          <div class="col-4">
      <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title">{{company['name']}}
        <a class="close pull-right" href="/deleterecord/{{company['id']}}"><img src="/static/img/trash-fill.svg"> </a>
        <a class="close pull-right" href="/updaterecord/{{company['id']}}"><img src="/static/img/pencil-fill.svg"> </a>
    </h4>
    <h5 class="card-subtitle mb-2 text-muted">{{company['phone']}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{company['email']}}</h6>
    <p class="card-text">{{company['address']}}</p>
    <a href="#" class="card-link">{{company['website']}}</a>
  </div></div></div>
          {% endfor %}
      </div>
  </div>
    </table>
</div>
</body>
<script>
$('#searchbox').keyup(function (){
    $('.col-4').removeClass('d-none');
    var filter = $(this).val();
    if(filter.length==0){
    window.location.href = '/';
    }
    else if (filter && filter.length>0){
        $('.row').find('.col-4 .card-body h5:not(:contains("'+filter+'"))').parentsUntil('.col-4').parent().addClass('d-none');
    }
});
</script>
</html>
{% endblock %}